<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .radius {
            background: ghostwhite;
            border: 1px solid grey ;
            border-radius: 10px 10px 10px 10px;
            padding: 15px;
            margin-bottom: 10px;
            opacity: 85%;
        }
        .position {
            margin: 7px;
            padding: 10px;
        }
    </style>
    <title>Мои объявления</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Car sale</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" th:href="@{/posts}">Все объявления</a>
                <a class="nav-item nav-link" th:href="@{/posts/new}">Создать объявление</a>
                <a class="nav-item nav-link active" th:href="@{|/posts/users/${user.id}|}">Мои объявления</a>
                <a class="nav-item nav-link" th:href="@{/posts/subscriptions}">Избранное</a>
                <a class="nav-item nav-link" th:href="@{/posts/archive}">Архив</a>
                <a class="nav-item nav-link" th:href="@{/formAddUser}">Регистрация</a>
                <a class="nav-item nav-link" th:if="${user.name == 'Гость'}">
                    <form th:action="@{/loginPage}" method="GET">
                        <button type="submit" class="btn btn-info"><span th:text="${user.name}"></span> | Войти</button>
                    </form>
                </a>
                <a th:if="${user.name != 'Гость'}">
                    <a class="nav-item nav-link" th:href="@{/formUpdateUser}">Профиль</a>&nbsp&nbsp
                    <a class="nav-item nav-link">
                        <form th:action="@{/logout}" method="GET">
                            <button type="submit" class="btn btn-success">
                                <span th:text="${user.name}"></span> | Выйти</button>
                        </form>
                    </a>
                </a>
                <a th:if="${user.login == 'admin'}">
                    <a class="nav-item nav-link" th:href="@{/requests/profile-deletion}" style="color: indianred">
                        <span> <i class="fa fa-address-book-o" aria-hidden="true" title="Заявки на удаление"></i></span>
                    </a>
                </a>
            </div>
        </div>
    </nav>
    <br>
    <div>
        <div style="text-align: center; float: right; width: 250px" class="position radius">
            <h7><em>Фильтровать все объявления, опубликованные за сутки</em></h7>
            <br><br>
            <div style="float: right">
                <form th:action="@{/posts/filter/last_day}" method="GET">
                    <button type="submit" class="btn btn-success">Фильтр</button>
                </form>
            </div>
        </div>
        <div style="text-align: center; float: right; width: 400px" class="position radius">
            <h7><em>Фильтровать объявления по марке авто и цене</em></h7>
            <br><br>
            <form th:action="@{/posts/filter/by_brand_price}" method="GET">
                <label for="fbrand">Марка</label>
                <input th:if="${filter3}" type="text" size="17" th:value="${'Фильтр: ' + fBrand}" disabled/>
                <select name="p" id="fbrand" required>
                    <option th:each="brand : ${brands}" th:text="${brand.name}" th:value="${brand.name}"></option>
                </select>
                <br>
                <p><u>Диапазон цены, руб.:</u></p>
                <label for="flprice">Нижняя граница</label>
                <input th:if="${filter3}" type="text" size="12" th:value="${'Фильтр: ' + fLprice}" disabled/>
                <input type="text" name="p" id="flprice" size="5" required/>
                <br>
                <label for="fuprice">Верхняя граница</label>
                <input th:if="${filter3}" type="text" size="12" th:value="${'Фильтр: ' + fUprice}" disabled/>
                <input type="text" name="p" id="fuprice" size="5" required/>
                <br>
                <button type="submit" class="btn btn-success" style="float: right">Фильтр</button>
            </form>
        </div>
        <div style="text-align: left; float: left; width: 400px" class="position radius">
            <h7><em>Фильтровать объявления по параметрам авто</em></h7>
            <br><br>
            <form th:action="@{/posts/filter/by_parameters}" method="GET">
                <label for="brand">Марка</label>
                <input type="text" size="17" th:if="${filter1}" th:value="${'Фильтр: ' + fBrand}" disabled/>
                <select name="p" id="brand" required>
                    <option th:each="brand : ${brands}" th:text="${brand.name}" th:value="${brand.name}"></option>
                </select>
                <br>
                <label for="body_type">Тип кузова:</label>
                <input th:if="${filter1}" th:value="${'Фильтр: ' + fBodyType}" size="13" disabled/>
                <select name="p" id="body_type" required>
                    <option value="Sedan" selected> Седан       </option>
                    <option value="Wagon"         > Универсал   </option>
                    <option value="Hatchback"     > Хэтчбек     </option>
                    <option value="Liftback"      > Лифтбек     </option>
                    <option value="Coupe"         > Купе        </option>
                    <option value="Limousine"     > Лимузин     </option>
                    <option value="Cabriolet"     > Кабриолет   </option>
                    <option value="SUV"           > Внедорожник </option>
                    <option value="SuperCar"      > Спорткар    </option>
                </select>
                <br>
                <label for="model.year">Год выпуска (не ранее)</label>
                <input type="text" size="8" th:if="${filter1}" th:value="${'Фильтр: ' + fModelYear}" disabled/>
                <input type="text" name="p" id="model.year" size="2" required/>
                <br>
                <label for="mileage">Пробег, км. (не больше)</label>
                <input type="text" size="10" th:if="${filter1}" th:value="${'Фильтр: ' + fMileage}" disabled/>
                <input type="text" name="p" id="mileage" size="3" required/>
                <br>
                <label for="transmission">Тип коробки передач</label>
                <input th:if="${filter1}" th:value="${'Фильтр: ' + fTransmission}" size="8" disabled/>
                <select name="p" id="transmission">
                    <option value="MT">          MT (механическая)   </option>
                    <option value="AT" selected> AT (автоматическая) </option>
                    <option value="AMT"        > AMT (робот)         </option>
                    <option value="CVT"        > CVT (вариатор)      </option>
                </select>
                <br><br>
                <label for="volume">Объём двигателя, л.</label>
                <input th:if="${filter1}" th:value="${'Фильтр: ' + fVolume}" size="7" disabled/>
                <select name="p" id="volume">
                    <option value="1.2"         > 1.2 </option>
                    <option value="1.4"         > 1.4 </option>
                    <option value="1.6" selected> 1.6 </option>
                    <option value="1.8"         > 1.8 </option>
                    <option value="2.0"         > 2.0 </option>
                    <option value="2.2"         > 2.2 </option>
                    <option value="2.4"         > 2.4 </option>
                    <option value="2.6"         > 2.6 </option>
                    <option value="2.8"         > 2.8 </option>
                    <option value="3.0"         > 3.0 </option>
                    <option value="3.2"         > 3.2 </option>
                    <option value="3.4"         > 3.4 </option>
                    <option value="3.6"         > 3.6 </option>
                    <option value="3.8"         > 3.8 </option>
                    <option value="4.0"         > 4.0 </option>
                </select>
                <br>
                <button type="submit" class="btn btn-success" style="float: right">Фильтр</button>
            </form>
        </div>
    </div>
    <table class="table table-striped">
        <caption style="caption-side: top; text-align: right; font-weight: bold">Мои объявления</caption>
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Фото</th>
            <th scope="col">Описание</th>
            <th scope="col">Цена,р.</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post: ${userPosts}">
            <td>
                <span th:text="${post.id}"></span>
                <i th:if="${post.isSold}" class="fa fa-handshake-o" aria-hidden="true" title="Продано" style="color: indianred"></i>
            </td>
            <td>
                <img th:src="@{|/postPhoto/${post.id}|}" alt="No_photo" width="150"/>
                <p th:text="${post.isSold ? 'Продано': 'Продаётся'}" style="float: left; font-size: 12px; font-weight: bold; color: dimgray" ></p>
            </td>
            <td th:with="car=${post.car}" style="color: dimgray">
                <div th:with="engine=${car.engine}" style="float: left; font-weight: bold">
                    <p th:text="${car.brand.name + '. ' + car.bodyType + '. ' + car.modelYear
                + 'г.  ' + engine.volume + engine.transmission + ' (' + engine.power + ' лс.)'}" ></p>
                </div>
                <div style="float: left ;width:800px; overflow: clip; font-weight: normal">
                    <p th:text="${post.text}"></p>
                    <a th:unless="${post.isSold}" th:href="@{|/posts/${post.id}/edit|}" th:text="${'Читать подробнее...'}"></a>
                </div>
                <div style="float: right; font-weight: normal">
                    <p>
                        <span th:text="${'Опубликовано: ' + post.created}" style="font-size: small"></span>
                        <br>
                        <span th:unless="${post.isSold}" th:text="${'Обновлено: ' + post.updated}" style="font-size: 10px"></span>
                        <span th:if="${post.isSold}" th:text="${'Продано: ' + post.saled}" style="font-size: 10px"></span>
                    </p>
                </div>
            </td>
            <td th:with="list=${post.priceHistoryList}" th:text="${list.get(#lists.size(list)-1).price}"></td>
        </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-success" onclick="window.location.href='/posts/new'" style="float: right">Создать</button>
    <br><br>
</div>
</body>
</html>