<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script type='text/javascript'>
        var i = 0;
        function addFields(){
            i++;
            newParagraphField();
            newLabelField('firstname')
            newInputField('firstname');
            newLabelField('lastname')
            newInputField('lastname');
            newLabelField('start');
            newInputDateField('start');
            newLabelField('end');
            newInputDateField('end');
            container.appendChild(document.createElement('br'));
        }
        function newParagraphField(){
            var p = document.createElement('p');
            p.textContent = i + 1 + ' владелец:';
            container.appendChild(p);
        }
        function newLabelField(n){
            container.appendChild(document.createElement('br'));
            var label = document.createElement('label');
            var labelText;
            switch(n) {
                        case 'firstname':
                            labelText ='Имя';
                            break;
                        case 'lastname':
                            labelText ='Фамилия';
                            break;
                        case 'start':
                            labelText ='Начало владения';
                            break;
                        case 'end':
                            labelText ='Конец владения';
                            break;
            }
            label.textContent = labelText;
            container.appendChild(label);
            container.appendChild(document.createElement('br'));
        }
        function newInputField(n){
            var input = document.createElement('input');
            input.type = 'text';
            input.name = n;
            input.placeholder = (n === 'firstname')? 'Введите имя' : 'Введите фамилию';
            input.required = true;
            container.appendChild(input);
            container.appendChild(document.createElement('br'));
        }
        function newInputDateField(n){
            var input = document.createElement('input');
            input.type = 'date';
            input.name = n;
            input.placeholder = (n === 'start')? 'Начало владения' : 'Конец владения';
            input.required = true;
            container.appendChild(input);
            container.appendChild(document.createElement('br'));
        }
    </script>
    <style>
        .volume-cell-scale{
            width: 4%;
        }
        .trans-cell-scale{
            width: 20%;
        }
    </style>
    <title>Создать объявление</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Car sale</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" th:href="@{/posts}">Все объявления</a>
                <a class="nav-item nav-link active" th:href="@{/posts/new}">Создать объявление</a>
                <a class="nav-item nav-link" th:href="@{|/posts/users/${user.id}|}">Мои объявления</a>
                <a class="nav-item nav-link" th:href="@{/posts/subscriptions}">Избранное</a>
                <a class="nav-item nav-link" th:href="@{/posts/archive}">Архив</a>
                <a class="nav-item nav-link" th:href="@{/formAddUser}">Регистрация</a>
                <a class="nav-item nav-link" th:if="${user.name == 'Гость'}">
                    <form th:action="@{/loginPage}" method="GET">
                        <button type="submit" class="btn btn-info"><span th:text="${user.name}"></span> | Войти</button>
                    </form>
                </a>
                <a th:if="${user.name != 'Гость'}">
                    <a class="nav-item nav-link" th:href="@{/formUpdateUser}">Профиль</a>&nbsp&nbsp
                    <a class="nav-item nav-link">
                        <form th:action="@{/logout}" method="GET">
                            <button type="submit" class="btn btn-success">
                                <span th:text="${user.name}"></span> | Выйти</button>
                        </form>
                    </a>
                </a>
                <a th:if="${user.login == 'admin'}">
                    <a class="nav-item nav-link" th:href="@{/requests/profile-deletion}" style="color: indianred">
                        <span> <i class="fa fa-address-book-o" aria-hidden="true" title="Заявки на удаление"></i></span>
                    </a>
                </a>
            </div>
        </div>
    </nav>
    <br>
    <div class="card" style="width: 80%">
        <div class="card-header">
            Новое объявление.
        </div>
        <div class="card-body">
            <form th:action="@{/addPost}" method="POST" enctype="multipart/form-data" th:object="${post}">
                <fieldset>
                    <legend>Модель</legend>
                        <label for="brand">Марка:</label>
                        <select name="brand.id" id="brand" required>
                            <option th:each="brand : ${brands}" th:value="${brand.id}" th:text="${brand.name}"></option>
                        </select>
                        <br><br>
                        <label for="color">Цвет</label>
                        <input type="text" name="color" id="color" size="19" required/>
                        <br><br>
                        <label for="body_type">Тип кузова:</label>
                        <select name="bodyType" id="body_type" required>
                            <option value="Sedan" selected> Седан       </option>
                            <option value="Wagon"         > Универсал   </option>
                            <option value="Hatchback"     > Хэтчбек     </option>
                            <option value="Liftback"      > Лифтбек     </option>
                            <option value="Coupe"         > Купе        </option>
                            <option value="Limousine"     > Лимузин     </option>
                            <option value="Cabriolet"     > Кабриолет   </option>
                            <option value="SUV"           > Внедорожник </option>
                            <option value="SuperCar"      > Спорткар    </option>
                        </select>
                        <br><br>
                        <label for="model_year">Год выпуска</label>
                        <input type="text" name="modelYear" id="model_year" size="2" required/>
                        <br><br>
                        <label for="mileage">Пробег, км.</label>
                        <input type="text" name="mileage" id="mileage" size="3" required/>
                        <br><br>
                        <label for="price"><b>Цена</b></label>
                        <br>
                        <input type="text" name="price" id="price" size="5" required/>
                        <br><br>
                </fieldset>
                <fieldset>
                    <legend>Фото</legend>
                    <label for="photo">Загрузить (максимальный размер 1Мб)</label>
                    <br>
                    <input type="file" name="file" id="photo" required/>
                    <br><br>
                </fieldset>
                <fieldset>
                    <legend>Двигатель</legend>
                        <label for="name">Название</label>
                        <input type="text" name="name" id="name" size="5"/>
                        <br><br>
                        <label for="trans">Тип коробки передач</label>
                        <table id="trans">
                            <tr>
                                <td class="trans-cell-scale"><input type="radio" name = "transmission" value="MT"        /> MT  </td>
                                <td class="trans-cell-scale"><input type="radio" name = "transmission" value="AT" checked/> AT  </td>
                                <td class="trans-cell-scale"><input type="radio" name = "transmission" value="AMT"       /> АMT </td>
                                <td class="trans-cell-scale"><input type="radio" name = "transmission" value="CVT"       /> CVT </td>
                            </tr>
                        </table>
                        <br><br>
                        <label for="drive">Тип привода</label>
                        <table id="drive">
                            <tr>
                                <td class="trans-cell-scale"><input type="radio" name="driveUnit" value="Задний"          /> Задний   </td>
                                <td class="trans-cell-scale"><input type="radio" name="driveUnit" value="Передний" checked/> Передний </td>
                                <td class="trans-cell-scale"><input type="radio" name="driveUnit" value="Полный"          /> Полный   </td>
                            </tr>
                        </table>
                        <br><br>
                        <label for="volume">Объём, л.</label>
                        <table id="volume">
                            <tr>
                                <td class="volume-cell-scale"><input type="radio" name="volume" value="1.2"        /> 1.2 </td>
                                <td class="volume-cell-scale"><input type="radio" name="volume" value="1.4"        /> 1.4 </td>
                                <td class="volume-cell-scale"><input type="radio" name="volume" value="1.6" checked/> 1.6 </td>
                                <td class="volume-cell-scale"><input type="radio" name="volume" value="1.8"        /> 1.8 </td>
                                <td class="volume-cell-scale"><input type="radio" name="volume" value="2.0"        /> 2.0 </td>
                                <td class="volume-cell-scale"><input type="radio" name="volume" value="2.2"        /> 2.2 </td>
                                <td class="volume-cell-scale"><input type="radio" name="volume" value="2.4"        /> 2.4 </td>
                                <td class="volume-cell-scale"><input type="radio" name="volume" value="2.6"        /> 2.6 </td>
                                <td class="volume-cell-scale"><input type="radio" name="volume" value="2.8"        /> 2.8 </td>
                                <td class="volume-cell-scale"><input type="radio" name="volume" value="3.0"        /> 3.0 </td>
                                <td class="volume-cell-scale"><input type="radio" name="volume" value="3.2"        /> 3.2 </td>
                                <td class="volume-cell-scale"><input type="radio" name="volume" value="3.4"        /> 3.4 </td>
                                <td class="volume-cell-scale"><input type="radio" name="volume" value="3.6"        /> 3.6 </td>
                                <td class="volume-cell-scale"><input type="radio" name="volume" value="3.8"        /> 3.8 </td>
                                <td class="volume-cell-scale"><input type="radio" name="volume" value="4.0"        /> 4.0 </td>
                            </tr>
                        </table>
                        <br><br>
                        <label for="power">Мощность, лс.</label>
                        <input type="text" name="power" id="power" size="2" required/>
                        <br><br>
                </fieldset>
                <fieldset>
                    <legend>Владельцы по ПТС</legend><br>
                    <div>
                        <p> 1 владелец: </p><br>
                        <label for="firstname">Имя</label>
                        <br>
                        <input type="text" name="firstname" id="firstname" placeholder="Введите имя" required/>
                        <br><br>
                        <label for="lastname">Фамилия</label>
                        <br>
                        <input type="text" name="lastname" id="lastname" placeholder="Введите фамилию" required/>
                        <br><br>
                        <label for="start">Начало владения</label>
                        <br>
                        <input type="date" name="start" id="start" placeholder="Начало" required/>
                        <br><br>
                        <label for="end">Конец владения</label>
                        <br>
                        <input type="date" name="end" id="end" placeholder="Конец" required/>
                        <br><br>
                    </div>
                    <div id="container"></div><br>
                    <button onclick="addFields()">Добавить владельца</button>
                    <br><br>
                </fieldset>
                <fieldset>
                    <legend>Описание объявления</legend>
                        <label for="desc"></label>
                        <textarea style="height: 150px; width: 500px"
                                  id="desc" placeholder="Введите описание" th:field="*{text}" required></textarea>
                </fieldset>
                <br>
                <button type="submit" class="btn btn-info">Создать</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>