<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Все задания</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Car sale</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" th:href="@{/posts}">Все объявления</a>
                <a class="nav-item nav-link" th:href="@{|/posts/user/${user.id}|}">Мои объявления</a>
                <a class="nav-item nav-link" th:href="@{/posts/new}">Создать объявление</a>
                <a class="nav-item nav-link active" th:href="@{/formAddUser}"><b>Зарегистрироваться</b></a>
                <a class="nav-item nav-link" th:if="${user.name == 'Гость'}">
                    <form th:action="@{/loginPage}" method="GET">
                        <button type="submit" class="btn btn-info"><span th:text="${user.name}"></span> | Войти</button>
                    </form>
                </a>
                <a th:if="${user.name != 'Гость'}">
                    <a class="nav-item nav-link" th:href="@{/formUpdateUser}"><b>Редактировать профиль</b></a>&nbsp&nbsp
                    <a class="nav-item nav-link">
                        <form th:action="@{/logout}" method="GET">
                            <button type="submit" class="btn btn-success">
                                <span th:text="${user.name}"></span> | Выйти</button>
                        </form>
                    </a>
                </a>
            </div>
        </div>
    </nav>
    <form class="form-group" th:action="@{/addUser}" th:object="${user}" method="POST">
        <div class="card-body">
            <b th:text="${flag} ? 'Редактирование пользователя' : 'Добавление пользователя'"></b>
            <br><br>
            <div class="form-group">
                <input type="hidden" name="flag" th:value="${flag}"/>
                <label for="name" class="visually-hidden" th:text="${flag} ? 'Новое имя' : 'Имя'"></label>
                <br>
                <input type="text" id="name" placeholder="Введите имя" th:field="*{name}" required/>
                <span th:if="${msgName} != null" th:text="${msgName}" style="color: crimson"></span>
                <br><br>
                <label for="email" class="visually-hidden">Email</label>
                <br>
                <input th:if="${flag == null}" type="text" id="email" placeholder="Введите email" th:field="*{email}" required/>
                <span th:if="${msgEmail} != null" th:text="${msgEmail}" style="color: crimson"></span>
                <input th:if="${flag != null}" type="text" th:field="*{email}" disabled/>
                <br><br>
                <label for="login" class="visually-hidden">Логин</label>
                <br>
                <input th:if="${flag == null}" type="text" id="login" placeholder="Придумайте login" th:field="*{login}" required/>
                <span th:if="${msgLogin} != null" th:text="${msgLogin}" style="color: crimson"></span>
                <input th:if="${flag != null}" type="text" th:field="*{login}" disabled/>
                <br><br>
                <label for="pwd" class="visually-hidden" th:text="${flag} ? 'Новый пароль' : 'Пароль'"></label>
                <br>
                <input type="password" id="pwd" placeholder="Придумайте password" th:field="*{password}" required/>
                <br><br>
                <button type="submit" class="btn btn-primary mb-3">
                    <span th:text="${flag} ? 'Редактировать' : 'Зарегистрировать'"></span>
                </button>
            </div>
        </div>
    </form>

</div>
</body>
</html>